#This is a duplicate of the standard systemd-time-wait-sync.service
#This is a temporary fix. Need to enable this through systemd in future.

[Unit]
Description=Wait Until Kernel Time Synchronized
Documentation=man:systemd-time-wait-sync.service(8)

ConditionCapability=CAP_SYS_TIME
ConditionVirtualization=!container

DefaultDependencies=no
Before=time-sync.target shutdown.target
Wants=time-sync.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/lib/systemd/systemd-time-wait-sync
TimeoutStartSec=infinity
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target

