[Unit]
Description=Load the required elk audio drivers
After=systemd-udevd.service udata.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/load-drivers
User=root

[Install]
WantedBy=multi-user.target
