[Unit]
Description=Load the required rtdm drivers
After=systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/load-drivers
User=root

[Install]
WantedBy=multi-user.target
