[Unit]
Description=Load the required elk audio drivers
Requires=dev-i2c\x2d1.device
After=systemd-udevd.service dev-i2c\x2d1.device udata.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/load-drivers
User=root

[Install]
WantedBy=multi-user.target
