[Unit]
Description=Change udata permissions on first boot to mind user
After=load-drivers.service
ConditionPathExists=/udata/change_perms

[Service]
Type=oneshot
ExecStart=/usr/bin/udata-setup
User=root

[Install]
WantedBy=multi-user.target
