CONFIG_IRQ_DOMAIN_NOMAP=y
CONFIG_IRQ_PIPELINE=y
CONFIG_IKCONFIG=y
CONFIG_RAW_PRINTK=y
CONFIG_DOVETAIL=y
CONFIG_DOVETAIL_LEGACY_SYSCALL_RANGE=y
CONFIG_EVL=y
# CONFIG_EVL_SCHED_QUOTA is not set
# CONFIG_EVL_SCHED_TP is not set
# CONFIG_EVL_HIGH_PERCPU_CONCURRENCY is not set
CONFIG_EVL_RUNSTATS=y
# CONFIG_EVL_NET is not set

#
# Fixed sizes and limits
#
CONFIG_EVL_COREMEM_SIZE=2048
CONFIG_EVL_NR_THREADS=256
CONFIG_EVL_NR_MONITORS=512
CONFIG_EVL_NR_CLOCKS=8
CONFIG_EVL_NR_XBUFS=128
CONFIG_EVL_NR_PROXIES=64
CONFIG_EVL_NR_OBSERVABLES=64
# end of Fixed sizes and limits

#
# Pre-calibrated latency
#
CONFIG_EVL_LATENCY_USER=0
CONFIG_EVL_LATENCY_KERNEL=0
CONFIG_EVL_LATENCY_IRQ=0
# end of Pre-calibrated latency

# CONFIG_EVL_DEBUG is not set
CONFIG_ARCH_WANT_IRQS_OFF_ACTIVATE_MM=y
CONFIG_EVL_LATMUS=y
CONFIG_EVL_HECTIC=y
# CONFIG_SPI_BCM2835_OOB is not set
# CONFIG_SPI_SPIDEV_OOB is not set
# CONFIG_GPIOLIB_OOB is not set
CONFIG_DMA_VIRTUAL_CHANNELS_OOB=y
CONFIG_DMA_BCM2835_OOB=y
CONFIG_DEBUG_IRQ_PIPELINE=y
CONFIG_IRQ_PIPELINE_TORTURE_TEST=y
CONFIG_DEBUG_DOVETAIL=y
CONFIG_TORTURE_TEST=y
